@{
    ViewBag.Title = "Welcome to Profile Book";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}


    
        <h3 style="font-family:Andalus; font-size:xx-large;">Stay in touch with colleagues!</h3>
        
        <a href="@Url.Action("Index", "Home")"><img src="../Images/colleagues.png" /></a>
    
        
    @*<li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>*@

